
h1{
    font-family:"Bahnschrift";
    padding: 5px 0px;
    text-align: center;
    margin-top:-5px;
    margin-left:-7px;
    margin-right:-7px;
    font-size:40px;
    color:#8b2913;
    background-color:#dea187;
    }
body{
    color: aqua;
}    
    


